<header class="bg-blue-600 text-white p-4">
    <nav class="container mx-auto flex justify-between items-center">
      <a href="/" class="text-2xl font-bold">Online Shop</a>
      <div>
        <a href="/" class="px-4 hover:underline">Home</a>
        <a href="/cart" class="px-4 hover:underline">Cart (<%= cart.length %>)</a>
      </div>
    </nav>
  </header>